{% extends "base.html" %}

{% block title %}Persian Crito Alignment{% endblock %}

{% block content %}
  <header>
    <h1>Persian Crito Alignment</h1>
  </header>

  <nav class="pagination">
    <div class="prev">
      &nbsp;
    </div>
    <div class="next">
      <a href="{{ calc_url('001.html') }}">begin</a>
      <span>→</span>
    </div>
  </nav>

  <main>
    <section class="home">
      <p>This is a reader for translations of Plato’s Crito, produced by Aylar Mahmoudzadeh Sarabi, Farshid Rahimi, Kimia Nikpour, Nima Mohammadi, and Shouresh Assimi as part of a training course overseen by Farnoosh Shamsian, with the Greek text aligned at the token level by the instructor according to the following guidelines: <a href="https://zenodo.org/records/8039931">https://zenodo.org/records/8039931</a>.</p>
      <p>Mouse over tokens to see their alignments highlighted in the other texts.</p>
      <p><a class="button" href="{{ calc_url('001.html') }}">Begin reading</a></p>
      <p>Source code available on <a href="https://github.com/jtauber/persian-crito-alignment">GitHub</a>.</p>
    </section>
  </main>
{% endblock %}
